/* version = 0 */

#music-list {
    position: absolute;
    z-index: 2;
    width: 740px;
    max-height: 90vh;
    right: 0;
    background-color: #333333;
    box-shadow: 0 0 3px 2px #666666;
}

#music-list h2 {
    font-size: 20px;
    text-align: center;
    margin: 15px 5px 10px;
}

#music-list audio {
    width: 90%;
    margin: 10px 5% 5px;
}

.mtable {
    margin: 10px;
}

.mtable tbody tr td {
    border-top: solid 1px #555;
}

.mtable tbody tr td i {
    display: block;
    font-style: normal;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    color: #aaa;
}

#music-table-0 thead tr th:nth-child(1) {
    width: 260px;
}

#music-table-0 thead tr th:nth-child(2) {
    width: 210px;
}

#music-table-0 thead tr th:nth-child(3) {
    width: 250px;
}

#music-table-1 thead tr th:nth-child(1) {
    width: 260px;
}

#music-table-1 thead tr th:nth-child(2) {
    width: 210px;
}

#music-table-1 thead tr th:nth-child(3) {
    width: 100px;
}

#music-table-1 thead tr th:nth-child(4) {
    width: 150px;
}

.mtable thead tr th,
.mtable tbody tr td {
    padding: 4px;
    text-align: center;
}

.mtable tbody tr {
    cursor: pointer;
}

.mtable tbody tr:hover {
    font-weight: bold;
}

/* #music-table-0 tbody tr td:nth-child(2) {
    text-align: left;
}

#music-table-1 tbody tr td:nth-child(3) {
    text-align: left;
} */